#github {
    color: azure;
}

#gitlab {
    color: #E86A55;
}

.text {
    color: var(--text);
}

.navpanel {
    margin-left: 1em;
    padding-top: 1em;
    color: #e9fbf7;
}

.profile-wrapper {
  width: 250px;
  height: 250px;
}

.dark-card {
    background-color: var(--primary);
}

.card {
    color: var(--background);
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.nappi {
    color: var(--background);
    background-color: var(--accent);
}

.nappi:hover {
  color: var(--background);
  background-color: var(--secondary);
  border-color: var(--bs-btn-hover-border-color);
}

.link {
    color: var(--accent)
}

html {
    position: relative;
    min-height: 100%;
    background-color: var(--background);
}

body {
    margin-bottom: 60px;
    background-color: var(--background);
    color: var(--text);
}

@media only screen and (max-width:600px) {
    .footer {
        margin-bottom: 12vh
    }
}

:root{
--text: #e2f0f9;
--background: #030b10;
--primary: #8cc1e7;
--secondary: #b64282;
--accent: #d56b30;

}
